body{
  background-color: #ddecf6cc;
}

.App {
  text-align: center;
}

.App-header {
  color: rgb(162, 169, 169);
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Martel', serif;
  background-color: #4595b7;
  opacity: 2.0;
  min-height: 70px;
  padding: 20px;
  margin-bottom: 20px;

}

.App-title {
  font-size: 2.3em;
  letter-spacing: .1rem;
  color: rgb(200 204 204);
}

.App-intro {
  font-size: large;
}

.prompt {
  font-family: 'Martel', serif;
  font-style: italic;
}


/* FEELINGS, UNDERSTANDING, SUPPORT, COMMENTS */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 10%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #5fb3ce;
  padding: 7px 5px;
  background: rgb(226 230 234 / 50%);
  transition: border-color 0.2s;
  border-radius: 5px;
}

.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* BUTTONS */
/* .nextBtn {
  display: inline-block ;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  }
  .nextBtn:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
  .nextBtn{
  display:block;
  margin:0.4em auto;
  }
  } */

  
.nextBtn {
  background-color: #f5e7e5;
  margin-left: 2em;
  border: 2px solid 111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 42px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  .nextBtn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 42px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .nextBtn:hover:after {
    transform: translate(0, 0);
  }
  
  .nextBtn:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .nextBtn:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .nextBtn {
      padding: 0 40px;
    }
  }
  

/* REVIEW PAGE */





/* SUBMISSION PAGE */


/* TODO: FIND GOOD COLOR SCHEME
TODO: STYLE NEXT AND SUBMIT BUTTON
TODO: FIND GOOD FONT FOR HEADER
TODO: ADD TEXT UNDER PROMPT
TODO: STYLE REVIEW PAGE
TODO: STYLE SUBMISSION SUCCESS PAGE 
 */